.game{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}
#main{
    background-color: red;
    padding: 5px 0;
    margin: 4px 0;
    width: 84%;
}

span{
    color: #ffa;
}


.squer{
    width: 80px;
    height: 80px;
    background-color: red;
    float: left;
    margin: 2px;
    border-radius: 30px;
    font-size: 50px;
}