.game{
    width: 300px;
    text-align: center;
    margin: auto;
    color: #fff;
    font-family: system-ui;
    font-weight: 500;

}

#main{
    text-transform: lowercase;
    padding: 10px 0;
    margin: 2px 0;
    background-color: red;
    border-radius: 3px;
    width: 95%;
}
span{
    color: #ffa;
    
}

.squer{
    height: 85px;
    width: 85px;
    background-color: red;
    margin: 6px  7px;
    float: left;
    font-size: 55px;
    border-radius: 50px;
    /* display: inline-block; */
}

.squer:hover{
    background-color: rgb(122, 86, 86);
    cursor: pointer;
}
